<h1>Login</h1>
<div>

<form class="form" action="/api/sessions/login" method="POST">
    <label for="first_name"> Usuario: </label>
    <input class="form__input" type="text" name="first_name" required>

    <label for="password">Contraseña: </label>
    <input class="form__input" type="password" name="password" required>

    <button class="form__button" type="submit"> Iniciar Sesión </button>
</form>
</div>
<a href="/register" class="container__button"> Registro</a>